**/source_MCU_boards/.pio/
**/source_MCU_boards/.pioenvs/
**/source_MCU_boards/.piolibdeps/
**/source_MCU_boards/.vscode/*
**/__pycache__/
.pio/
.clang_complete
.gcc-flags.json
*.py[co]
log.txt
port_data.txt

### AtmelStudio ###

**/.vs

[Dd]ebug/
[Rr]elease/

*.o
*.d
*.eep
*.elf
# *.hex
*.map
*.srec
debug.log

*.atsuo
.vscode/
config/port.txt
